// Variables which needs to be overridden must define before bootstrap.scss import
// And must not define !default keyword with it.
// !default : It means if no value assigned before then use this default value.
$blue:#2e90f8;

$opacityMin: 0;
$opacityDot1: .1;
$opacityDot2: .2;
$opacityDot3: .3;
$opacityDot4: .4;
$opacityDot5: .5;
$opacityDot6: .6;
$opacityDot7: .7;
$opacityDot8: .8;
$opacityDot9: .9;
$opacityMax: 1;

// We can use 'and', 'or' and 'not' operator in "if" condition
@mixin element-opacity($opacityValue) 
{
    @if ($opacityValue >= $opacityMin and $opacityValue <= $opacityMax) 
    {
        opacity: $opacityValue;
    }
}

// Defining a custom class
.element-opacity
{
    @include element-opacity($opacityDot8);
}